#leftcol { /* Левая колонка */
  float: left; /* Обтекание справа */
  width: 200px; /* Ширина колонки */
}
#rightcol { /* Правая колонка */
  margin-left: 15%; /* Отступ слева */
}
a{
color: #DAA520;
font-size: 30px;
text-decoration: none;
font-weight: bolder;
} 

a:hover{
color: #FFA500;
}

li{
list-style-type: none;
float: left;
padding: 1% 2% 0 3%;
cursor:
}

.div {
float: center;
background-color: #F5F5DC;
width: 100%;
height: 10%;
}

.hc{
font-size: 30px;
color: #FFA500;
font-weight: bolder;
padding: 0 40% 0 0;
}